@page
@model CCSystem.Presentation.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PaymentMethod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount.ToString("N0", new System.Globalization.CultureInfo("vi-VN"))) ₫)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
